.cabecalho{
    background-color: #5eacec;
}

body{ 
    background-color: #31487e;

}

.imagem {
    padding: 5em 43em 5em;
}

.título {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-family: "Lora", serif;
    color: white;
}

.textos {
    font-family: "Lora", serif;
    font-size: 10px;
    text-align: center;
    padding: 0em 5em 5em;
    color: white;
}
